@import url(./public/assets/css/root.css);

body {
    background-image: url(./public/resources/images/hero-bg-graphics.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.svg-container {
    position: absolute;
    left: 260px;
    top: 160px;
    width: 569.5px;
    height: 290px;
    flex-shrink: 0;
    z-index: -1;
}

.svg-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content {
    display: flex;
    width: 1120px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    /* might be 96px later */
}

.description {
    color: var(--Black, #000);
    color: var(--Black, color(display-p3 0 0 0));
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--body);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 33.6px */
}

.stats-container {
    display: flex;
    align-items: flex-start;
    gap: 64px;
}

.stat,
.stat-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 44px;
}

.stat-value {
    /* mix-blend-mode: exclusion; */
    color: var(--root-deep-blue);
    font-family: var(--heading);
    font-size: 116px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    height: 77px;
}

.stat-2 .stat-value {
    color: var(--root-green);
}

.stat-label-container {
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 27px;
}

.stat-label-container span {
    color: var(--Black, color(display-p3 0 0 0));
    font-family: var(--body);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    height: 11px;
}

/* Code Canvas prev. by Seen Design Lab  */
.seen-codecanvas {
    display: flex;
    height: 253px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--root-stroke, #F3F3F3);
    border: 1px solid var(--root-stroke, color(display-p3 0.9516 0.9516 0.9516));
    background: var(--trans-wh-8, rgba(255, 255, 255, 0.08));
    background: var(--trans-wh-8, color(display-p3 1 1 1 / 0.08));

    /* outline-md-none */
    box-shadow: 0px 0px 0px 16px #FFF;
    box-shadow: 0px 0px 0px 16px color(display-p3 1 1 1);
    backdrop-filter: blur(12px);
}

.tab-bar {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--root-stroke, #F3F3F3);
    border-bottom: 1px solid var(--root-stroke, color(display-p3 0.9516 0.9516 0.9516));
    background: var(--trans-wh-40, rgba(255, 255, 255, 0.40));
    background: var(--trans-wh-40, color(display-p3 1 1 1 / 0.40));
    font-family: var(--body);
}

.mac-tab {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 4px;
    border-right: 1px solid var(--root-stroke, #F3F3F3);
    border-right: 1px solid var(--root-stroke, color(display-p3 0.9516 0.9516 0.9516));
}

.mac-tab .mac-tab-button {
    width: 8px;
    height: 8px;
    aspect-ratio: 1/1;
    background: var(--trans-black-20, rgba(13, 14, 36, 0.20));
    background: var(--trans-black-20, color(display-p3 0.051 0.0549 0.1333 / 0.20));
    border-radius: 24px;
}

.mac-tab .red {
    /* background: #f13c3c; */
}

.mac-tab .yellow {
    /* background: #f1ca3c; */
}

.mac-tab .green {
    /* background: #17d530; */
}

.tab {
    display: flex;
    padding: 14px 16px;
    align-items: center;
    gap: 6px;
    border-right: 1px solid var(--root-stroke, #F3F3F3);
    border-right: 1px solid var(--root-stroke, color(display-p3 0.9516 0.9516 0.9516));
}

.tabicon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    aspect-ratio: 1/1;
    border-radius: 3px;
    background: var(--root-stroke, #F3F3F3);
    background: var(--root-stroke, color(display-p3 0.9516 0.9516 0.9516));
}

.tabicon .ph {
    font-size: 9px;
    display: none;
}

.tab-label {
    color: var(--trans-black-20, rgba(13, 14, 36, 0.20));
    color: var(--trans-black-20, color(display-p3 0.051 0.0549 0.1333 / 0.20));
    leading-trim: both;
    text-edge: cap;
    font-family: 'SF Pro' Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 15.4px */
    text-transform: capitalize;
}

.tab .add-tab {
    color: var(--trans-black-20);
}

.code-container {
    /* display: flex; */
    display: none;
    padding: 16px;
    height: 213px;
    overflow: hidden;

    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    /* flex: 1 0 0; */
    align-self: stretch;
    background: var(--trans-wh-8, rgba(255, 255, 255, 0.08));
    background: var(--trans-wh-8, color(display-p3 1 1 1 / 0.08));
    backdrop-filter: blur(6px);
}


/* header */
.fixed-header {
    display: inline-flex;
    padding: 16px;
    align-items: center;
    gap: 48px;
    border-radius: 12px;
    background: radial-gradient(148.32% 248.68% at 85.63% -210.83%, var(--root-orange, #FF9000) 0%, #FFF 100%), radial-gradient(137.28% 146.34% at 58.22% 235.83%, var(--root-pink, #FF85FF) 0%, #FFF 100%), radial-gradient(87.37% 227.63% at 35.7% -172.5%, var(--root-blue, #00A6FF) 0%, #FFF 100%), var(--trans-wh-8, rgba(255, 255, 255, 0.08));
    background: radial-gradient(148.32% 248.68% at 85.63% -210.83%, var(--root-orange, color(display-p3 1 0.6157 0.0431)) 0%, color(display-p3 1 1 1 / 0.00) 100%), radial-gradient(137.28% 146.34% at 58.22% 235.83%, var(--root-pink, color(display-p3 0.9412 0.5765 1)) 0%, color(display-p3 1 1 1 / 0.00) 100%), radial-gradient(87.37% 227.63% at 35.7% -172.5%, var(--root-blue, color(display-p3 0.2196 0.6275 1)) 0%, color(display-p3 1 1 1 / 0.00) 100%), var(--trans-wh-8, color(display-p3 1 1 1 / 0.08));

    /* outline-sm */
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.10), 0px 0px 0px 4px #FFF;
    box-shadow: 0px 0px 0px 1px color(display-p3 0 0 0 / 0.10), 0px 0px 0px 4px color(display-p3 1 1 1);
    backdrop-filter: blur(6px);
}

.logo {
    display: flex;
    padding: 0px 8px;
    align-items: center;
    gap: 8px;
}

.logo-name {
    color: var(--Black, #000);
    color: var(--Black, color(display-p3 0 0 0));
    leading-trim: both;
    text-edge: cap;
    font-family: Bricolage Grotesque;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 25.2px */
}


/* nav */
nav {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul li a:hover {
    color: #007BFF;
}

.quick-nav ul {
    display: none;
    margin-top: 10px;
}

.quick-nav:hover ul {
    display: block;
}

.quick-nav ul li {
    display: block;
    margin: 5px 0;
}

.sub-list {
    margin-left: 20px;
}